<script src="https://cdn.tailwindcss.com"></script>

<div
  class="w-1/2 mx-auto mt-10 border border-2 border-gray-200 p-10 rounded-md"
>
  <h1 class="text-gray-700 font-bold mb-5">Login</h1>
  <form method="post" action="/login">
    <% if(messages.error){ %>
    <span class="text-red-800 font-bold"><%= messages.error %></span> <% } %>
    <div class="flex mb-3">
      <label class="mr-10 text-gray-700 uppercase w-1/4">Email: </label>
      <input
        name="email"
        type="email"
        class="w-3/4 border border-2 boder-gray-700 p-2"
      />
    </div>
    <div class="flex mb-3">
      <label class="mr-10 text-gray-700 uppercase w-1/4">Password: </label>
      <input
        name="password"
        type="password"
        class="w-3/4 border border-2 boder-gray-700 p-2"
      />
    </div>
    <div class="flex mb-3">
      <button
        type="submit"
        class="bg-blue-800 text-white p-3 rounded-md hover:bg-blue-600 w-1/2"
      >
        Login
      </button>
      <a href="/signup" class="ml-3 text-blue-600 mt-2 font-bold"
        >Registration</a
      >
    </div>
  </form>
</div>
